<div class="home-box">
	<%if @task.filled == false%>
		<h1>Pick Up Task?</h1>
		<h2><%=@project.name%></h2>
		<h2><%=@task.role%></h2>
		<h3>Task Details:</h3>
		<p><%=@task.details%></p>
		<%= form_tag('/tasks/register') do %>
			<%= hidden_field_tag "filled", true %>
			<%= hidden_field_tag "task_id", @task.id %>
			<%= hidden_field_tag "user_id", current_user.id %>
		  <div><%= submit_tag 'Confirm' %></div>
		 <%end%>
	<%else%>
		<h1>Drop Task?</h1>
		<h2><%=@project.name%></h2>
		<h2><%=@task.role%></h2>
		<h3>Task Details:</h3>
		<p><%=@task.details%></p>
		<%= form_tag('/tasks/register') do %>
			<%= hidden_field_tag "filled", false %>
			<%= hidden_field_tag "task_id", @task.id %>
			<%= hidden_field_tag "user_id", @project.users.first.id %>
			<div><%= submit_tag 'Confirm' %></div>
		<%end%>		
	<% end %>
</div>