<div class="home-box">
	<%= form_for :task, url: '/projects/addtask' do |f| %>

	  	<h2>New Task</h2>
	    <%= f.label :Role %><br>
	    <%= f.text_field :role, :required => true%><br>
	 
	    <%= f.label :Description %><br>
	    <%= f.text_area :details, :required => true %><br>

	  <label for="project_tasks_Number of Positions for this Task">Number of positions for this task</label>
	   <input type="text" name="[task][number]" id="number">
	   <input type="hidden" id="projectId" name="[task][project_id]" value = <%="#{@project.id}"%>>
	  <%= f.submit %>
	<% end %>
</div>