<h1>My Tasks!</h1>
	<%@tasks.each do |task|%>
		<% if task.filled == true%>
			<h3><%="#{task.role}"%></h3>
		<%end%>
	<%end%>
<h1>My Projects</h1>
	<%@projects.each do |proj|%>
		<h3><%="#{proj.name}"%></h3>
	<%end%>
<h1>Current Projects</h1>
<%Project.all.each do |proj|%>
	<h3><%=proj.name%></h3>
	<% proj.tasks.each do |task|%>
		<h4><%=task.role%></h4>
		<%if !task.filled%>
			<h3><a href='/projects/<%="#{proj.id}"%>/tasks/<%="#{task.id}"%>/edit'><button class='button-green'>Pick Up Task</button></a></h3>
		<%elsif task.filled && task.user_id == current_user.id && task.admin == false%>
			<h3>You're on it!</h3>
			<h3><a href='/projects/<%="#{proj.id}"%>/tasks/<%="#{task.id}"%>/edit'><button class='button-green'>Drop Task</button></a></h3>
		<%end%>
	<%end%>
<%end%>
