<table style="width:20%">
	<h2><caption><%=proj.name%></caption></h2>
	<tr>
		<th>Task</th>
		<th>User</th> 
		<th>Action</th>
		<%if delete_privelage%>
			<th>Delete Task?</th>
		<%end%>
	</tr>

	<% proj.tasks.each do |task|%>
		<tr>
		    <td><%=task.role%></td>
			<%if !task.filled%>
				<td>Empty!</td>
				<td><h3><a href='/projects/<%="#{proj.id}"%>/tasks/<%="#{task.id}"%>/edit'><button class='button-green'>Pick Up Task</button></a></h3></td>
			<%elsif task.filled && task.user_id == current_user.id && task.admin == false%>
				<td>You!</td>
				<td><a href='/projects/<%="#{proj.id}"%>/tasks/<%="#{task.id}"%>/edit'><button class='button-green'>Drop Task</button></a></td>
			<% elsif task.filled && task.user_id != current_user.id && task.admin == false%>
				<td><%= find_user_name(task.user_id)%></td>
				<td>N/A</td>
			<%end%>
			<%if delete_privelage && task.admin == false%>
				<th><a data-confirm="You sure you want to delete this task?" rel="nofollow" data-method="delete" href="/projects/<%=proj.id%>/tasks/<%="#{task.id}"%>"><button class='button-red'>Delete</button></a></th>
			<%end%>			
		</tr>
	<%end%>
</table>